@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

body {
    background: #000;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    width: 100%;
}

h1,
h2 {
    font-size: 4rem;
    padding: 3rem 0;
    text-transform: uppercase;
}

h1 {
    color: #fff;
    letter-spacing: 2px;
}

h2 {
    color: #000;
}

.contenedor {
    background-color: white;
    margin: 0 auto;
}

p {
    font-size: 2rem;
}

h1, 
p,
h2 {
    text-align: center;
}

form {
    max-width: 100%;
    margin: 0 auto;
    padding: 4rem;
    background: #d1d1d1;
    margin-bottom: 3rem;
}

.line {
    height: 2px;
    width: 50%;
    background-color: #000;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.table {
    width: 70%;
    margin: auto;
}


.alerta {
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    letter-spacing: 2px;
}

.error {
    background-color: red;
}

@media screen and (max-width: 550px) {
    h1,
    h2 {
        font-size: 2rem;
    }

    .table {
        font-size: .8rem;
    }

    .alerta {
        padding: 1rem;
        font-size: 1.5rem;
    }
}